:root {
  --font: "Playfair Display", serif;
  --accent-color-dark: #6d1919;
  --accent-color-light: #986c62;
  --background-color-light: #f5f6f2;
  --background-color-dark: #FoE7Da;
}

.main-page {
  background-color: #f5f6f2;
}

h1 {
  font-family: var(--font);
  font-weight: 400;
  text-align: center;
  color: #6d1919 !important;
  padding: 20px;
}

h2 {
  color: #6d1919 !important;
  font-family: var(--font);
  text-align: center;
}
h4 {
  font-family: var(--font);
  text-align: center;
}
h5 {
  font-family: var(--font);
  text-align: center;
}
.hero-text {
  padding: 20px;
}
.button {
  text-align: center;
  font-family: var(--font);
  background-color: #6d1919 !important;
  border-radius: 10px;
  border-color: #6d1919;
  padding: 20px;
}
