.main-page {
  background-color: #f5f6f2;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  color: #6d1919 !important;
}

h2 {
  color: red !important;
  font-family: "Playfair Display", serif;
  text-align: center;
}
