:root {
  --font: "Playfair Display", serif;
  --accent-color-dark: #6d1919;
  --accent-color-light: #986c62;
  --background-color-light: #f5f6f2;
  --background-color-dark: #FoE7Da;
}

.main-page {
  background-color: #f5f6f2 !important;
}

h1 {
  font-family: var(--font);
  font-weight: 400;
  text-align: center;
  color: #6d1919 !important;
  padding: 20px;
}

h2 {
  color: #6d1919 !important;
  font-family: var(--font);
  text-align: center;
}
h4 {
  font-family: var(--font);
  text-align: center;
}
h5 {
  font-family: var(--font);
  text-align: center;
  color: black;
  text-decoration: solid;
}
p {
  font-family: var(--font);
  text-align: center;
  color: black;
}
.hero-text {
  padding: 20px;
}
.bnt-container {
  text-align: center;
  margin-top: 200px;
}
#work-btn {
  text-align: center;
  color: #f5f6f2 !important;
  font-family: "Playfair Display", serif;
  background-color: #6d1919 !important;
  border-color: #6d1919;
  padding: 10px;
  border-radius: 5%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  max-height: 50px;
  max-width: 5%;
  cursor: pointer;
}

.container {
  text-align: center;
}

.navbar {
  background-color: #f5f6f2;
}

img {
  max-height: 550px;
  max-width: 400px;
}

.instagram-icon {
  max-width: 100px;
  max-height: 100px;
}
.work-bnt-container {
  margin-top: 200px;
  text-align: center;
  margin-bottom: 400px;
}
.about-grid {
  text-align: center;
}
.work-inquiry {
  background-color: #986c62 !important;
  padding: 50px;
  max-width: 400px;
  max-height: 300px;
}
